/* FONTS */


/* CUSTOM STYLES */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html{
  font-size: 16px;
}
body{
  font-size: 0.875em;
  font-family: 'Oxygen', sans-serif;
  background: #fff;    
}
h1, h2, h3, h4, h5{
  font-weight: 400;
}
h2{
  font-size: 2em;
}

/* intro section */
.intro{
  padding: 30px;
  height: auto;
}

.intro-headings{
  margin-top: 10px;
  margin-bottom: 200px; 
}

.intro-headings h2{
  color: #000;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.intro-headings h1{
  font-family: 'Oxygen', sans-serif; 
  margin-top: 40px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.intro-headings img{
   margin-top: 50px;
   width: 180px;
   max-width: 180px;
}
/* end intro section */

/* recent works section */
.recent-works{
  background: #1E88E5;
  padding: 20px;
  height: auto;
}

.recent-works h2{
  color: #fff;
}
.recent-works h4{
  color: #fff;
}
.recent-works a{
  text-decoration: none;
}
.projects{ 
  height: 200px;
  max-height: 200px;
}
.bg{
  background-repeat: round; 
  background-size: contain; 
  background-size: cover;
}

.my-projects{
  margin-bottom: 20px;
}

.footer{
  height: 70px;
  background: #1E88E5;
  max-height: 70px;
}

.footer h4{
  color: #fff;
}
.layer {
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    
}
.layer:hover{
  background: rgba(0,0,0,.6);
  width: 100%;
  height: 100%; 
}


/* end recent works */


/* Other works section */
.other-works{
  padding: 20px;
  margin-top: 50px;
}
.other-works h2,h4{
  color:#293347;
}

.card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.cover{
   padding: 10px;
  background: rgba(0,0,0,.6);  
}

.cover h4{
  color: #fff;
}
.btn-myButton{
  color: #1E88E5;
  background-color: transparent;
  border-color: #1E88E5;
  border-width: 2px;
  border-radius: 40px;
}
.btn-myButton:hover {
  background: #1E88E5;
  color: #fff;
  border-width: 2px;
  border-color: #1E88E5;
}
/*end other works */


/* dev image */
.dev-img{
  margin-top: 50px;
}
/* end dev image */

/* skill section */
.skill{
  background: #1E88E5;
  padding: 20px;
  height: auto;
  margin-top: 50px;
}

.skill-container{
  height: 260px;
  max-height: 260px;
  padding-bottom: 10px;
  padding-top: 10px;  
}

.skill-container h4{
  color: #293347 !important;
}

.skill-container h3{
  color: #1E88E5;
}

.skill-container img{
  width: auto;
  height: 45px;
  display: block;
  margin: auto auto;
}

.skill h2{
  color: #fff;
}
.skill h4{
  color: #fff;
}

/* end skill section */


/* contact section */

.contact{
  margin-top: 50px;
  padding: 20px;
}


.my-footer {
  background: #1E88E5;
}

.my-footer h2{
  color: #fff;
  font-weight: 300;
}

.my-footer h4{
  color: #fff;
  font-weight: 300;
}

.btn-social {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
}

.social{
  margin-top: 50px;
  padding: 20px;
}
.social-icon{
  margin-top: 50px;
}
.social-icon a{
  margin: 5px;
}
/* end contact */
.center-img img{
  width: 400px;
  display: block;
  margin: auto auto;
}

.btn-navBar {
  color: #1E88E5;
  background-color: transparent;
  border-color: #1E88E5;
  border-width: 2px;
  border-radius: 40px;
}

.btn-navBar:hover {
  color: #fff;
  background-color: #1E88E5;
  border-color: #1E88E5;
  border-width: 2px;
  border-radius: 40px;
}
.navbar-brand>img {
  height: 50px;
  padding: 7px 15px;
  width: auto;
}
.navbar-brand {
  padding: 0px;
}

/* thanks page */
.thank-you-section{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
}

.thank-you-section img{
  width: 150px;
  max-width: 150px;
  display: block;
  margin: auto auto;
  margin-bottom: 20px;
}